<h1>Listing activity_types</h1>

<table>
  <tr>
	<th>Thumbnail</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_types.each do |activity_type| %>
  <tr>
	<td><%= image_tag activity_type.thumbnail_url %></td>
    <td><%= activity_type.name %></td>
    <td><%= link_to 'Show', activity_type %></td>
    <td><%= link_to 'Edit', edit_activity_type_path(activity_type) %></td>
    <td><%= link_to 'Destroy', activity_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity type', new_activity_type_path %>
