<h1>Listing activities</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Permalink</th>
    <th>Activity type</th>
    <th>Created time</th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.message %></td>
    <td><%= activity.permalink %></td>
    <td><%= activity.activity_type.name %></td>
	<td><%= activity.created_at %></td>
    <td><%= link_to 'Show', activity %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
